.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1024px;
    background-image: url("background-picture.jpg");
    background-repeat: repeat-y;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    font-family: "Calisto MT", serif;
    color: indigo;
}

h3 {
    margin: 10px 0px 0px 0px;
    font-style: italic;
}

.contacts {
    margin-top: 10px;
    font-family: "Times New Roman", serif;
}

main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    font-family: "Garamond", "Tahoma", serif;
    font-size: 18px;
}

footer {
    margin: 10px;
}

header {
    margin: 10px;
}

img {
    margin: 15px;
    border-radius: 50%;
}

section {
   width: 50%;
}